<!-- <p>product-list works!</p> -->
<!--
@for (product of productos; track product._id) {
    <li>
        {{product.name}} - {{product.price}}
    </li>
    

}

@empty {
    <li>
        No hay productos.
    </li>
}

<li class="list-group-item d-flex justify-content-between align-items-center">
        <span>
            <strong>{{ product.name }}</strong>
            <span class="text-muted">({{ product.category }})</span>
        </span>
        <span class="fw-bold text-primary">{{ product.price }} €</span>
    </li>


-->

<h2 class="fw-semibold mb-3">Listado de Productos</h2>

<div class="row g-4">
    @for (product of productos; track product._id) {
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <app-products-card [product]="product"></app-products-card>
        </div>
        
    }
    @empty {
    <p class="text-muted">
        No hay productos para mostrar.
    </p>
    }
</div>

